.btn {
  width: 173px;
  height: 62px;
  border: 1px solid #DCDCDC;
  background-color: #73A336;
  background-image: url(../../../assets/images/Arrow.png);
  background-repeat: no-repeat;
  background-position: bottom 18px right 15px, center;
  border-radius: 5px;
  
}
.btn-link {
  font-family: 'Sree Krushnadevaraya', 'Times New Roman', Times, serif;
  color: #FDFDFD;
  font-size: 24px;
  display: block;
  padding-top: 22px;
  padding-right: 25px;;
}