.main-separator {
  font-family: 'Sree Krushnadevaraya', 'Times New Roman', Times, serif;
  background-color: #F3F3F3;
  height: 90px;
  min-width: 1200px;
  width: 1439px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.main__separator-title {
  font-size: 40px;
  font-weight: 300;
  line-height: 82px;
  margin: 0 71px;
  padding-top: 20px;
  color: rgba(0, 0, 0, .67);
}