.main__products-list {
  margin: 0 auto;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  font-family: 'Sree Krushnadevaraya', 'Times New Roman', Times, serif;
}