.main__products-list {
  margin: 0 auto;
  min-width: 1200px;
  width: 1439px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  font-family: 'Sree Krushnadevaraya', 'Times New Roman', Times, serif;
}