.main__promo {
  height: 620px;
  display: flex;
  font-family: 'Sree Krushnadevaraya', 'Times New Roman', Times, serif;
  color: #ffffff;
}
.main__promo-img-column {
  width: 760px;
  background-image: url("../../assets/images/Promo.png");

}
.main__promo-back-column {
  width: 680px;
  background-color: #CDA792;
}
.main__promo-img-column--text {
  font-size: 64px;
  line-height: 65px;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  top: 50px;
  left: 450px;
  
  &:first-child {
    color: #D7FFA5;
    margin-bottom: -40px;
  }
}
a {
  text-decoration: none;
}
.main__promo-back-column--link1-text,
.main__promo-back-column--link2-text {
  margin: 0;
}
.main__promo-back-column--sale {
  height: 323px; 
  width: 281px;
  position: relative;
  top: 290px;
  left: 350px;
}
.main__promo-back-column--item1,
.main__promo-back-column--item2 
{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  left: -380px;
  text-align: center;
}
.main__promo-back-column--item2 {
  left: -180px;
  top: -130px;
}
.main__promo-back-column--link1,
.main__promo-back-column--link2 
{
  position: relative;
  color: #ffffff;
  line-height: 25px;
  font-size: 12px;
  width: 100px;
  left: 285px;
  border-bottom: 1px solid #ffffff;
}
.main__promo-back-column--img1,
.main__promo-back-column--img2 {
  width: 180px;
  height: 190px;
  margin-top: 10px;
} 