@import '../../App.scss';

.main-header {
  background-color: #8EB226;
  height: 84px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  // @media (max-width: 590px) {

  // }
}