.card-list-container__item {
  margin: 30px;
}
.card-item {
  background-color: #E6E6E6;
  margin-top: 32px;
  padding-top: 15px;
  height: 332px;
}
.card-item__img {
  width: 246px;
  height: 235px;
}
.card-item__info {
  padding: 0 15px 15px 15px;
  box-sizing: border-box;
  display: flex;
}

.card-item__title {
  font-size: 14px;
  margin: 0px;
  color: #12651A;
}
.card-item__description {
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-size: 16px;
  margin: 0px; 
}
.card-item__price {
  font-size: 16px;
  margin: 0px;
  color: #12651A;
}
.card-item__column--button {
  align-self: flex-end;
}
.card-item__button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #7FA353;
  border: 1px solid #7FA353;
  background-image: url("../../../assets/images/Plus.png"), url("../../../assets/images/Vector.png");
  background-repeat: no-repeat;
  background-position: bottom 5px right 5px, center;
}
