@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), local('Inter-Bold'),
    url('../src/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('woff2');
}
@font-face {
  font-family: 'Sree Krushnadevaraya';
  font-style: normal;
  font-weight: 400;
  src: local('Sree Krushnadevaraya'), local('Sree Krushnadevaraya-Bold'),
    url('../src/assets/fonts/SreeKrushnadevaraya/Sree\ Krushnadevaraya\ Regular.otf') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

