.main-header__nav_mobile {
    position: absolute;
    background: rgb(143, 143, 143);
}

.nav__list_mobile {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__link_mobile {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    font-family: 'Inter', Arial, sans-serif;
    position: relative;
    display: block;
    padding: 0 16px;
    padding: 10px;
    
  
    &:hover {
      opacity: 0.6;
    }
  
    &:active {
      opacity: 0.3;
    }
  }

  .main-header__menu-toggle_container {
    display: none;
    .main-header__menu-toggle {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      border: 2px solid #12651A;
      background-image: url('../../../assets/images/toggle.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left, right;
      background-color: #F3F3F3;
      margin-right: 10px;
    }
    
  
    @media (max-width: 1023px) {
      display: block;
    }
  }